<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Id number:</strong>
  <%= @student.id_number %>
</p>

<p>
  <strong>Major:</strong>
  <%= @student.major %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @student.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @student.phone %>
</p>


<p>
  <strong>Professors:</strong>
  <br>
  <% Professor.all.each do |professor| %>
    <%= professor.name %>
    <br>
  <% end %>
</p>

<p>
  <strong>Sections:</strong>
  <br>
  <% Enrollment.all.each do |enrollment| %>
      <% if enrollment.student.name == @student.name %>
          <%= enrollment.section.number %>
          <br>
      <% end %>
  <% end %>
</p>


<br>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>


<br>
<%= link_to 'Log out', destroy_user_session_path, method: :delete %>

