<h><strong> This shows the details of Professors </strong></h>

<p>
  <strong>Name:</strong>
  <%= @professor.name %>
</p>

<p>
  <strong>Id number:</strong>

  <%= @professor.id_number %>
</p>

<p>
  <strong>Department:</strong>
  <%= @professor.department %>
</p>

<p>
  <strong>Office:</strong>
  <%= @professor.office %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @professor.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @professor.email %>
</p>

<p>
  <strong>Sections (with students listed underneath each section):</strong>
  <br>
  <% Section.all.each do |section| %>

      <% if section.professor.name == @professor.name %>
          <span style = "text-decoration:underline"><%= section.number %> <%=section.course.title %></span>
          <br>
          <% Enrollment.all.each do |enrollment| %>
              <% if enrollment.section.number == section.number %>
                 <%= enrollment.student.name %>
                  <br>
              <% end %>
          <% end %>
        <br>
      <% end %>
  <% end %>
</p>


<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>

<br>

<%= link_to 'Log out', destroy_user_session_path, method: :delete %>
