<h><strong> This shows the details of Courses </strong></h>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Department:</strong>
  <%= @course.department %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>

<%= link_to 'Log out', destroy_user_session_path, method: :delete %>